<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>

<Style>

  .navbar {
  background-color: black !important;
   }

  h2{
  color :Red;
  text-align: center;
  padding:70px;
  }

  .imagebox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    width: 850px;
    border: solid black;
    margin: auto;
  
    

  }

  .imagebox img{
      height: 300px;
      width: 375px;
      border: solid black;

 }

 </Style>



<body>

<!--Navbar-->
{% include "navbar.html" %}

<div class="container">
  <h2>How to use</h2>
  <div class="imagebox"  >
      <img src="static\images\log.jpg" class="image" alt="login">
    <ol>
      <li>First create a account by Completing the Registration</li>
      <li>Go to Home page then search the product you want to compare</li>
    
  
    </ol>
  </div>

</div>


<!--    footer-->
{% include "footer.html" %}

</body>



</html>