<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<style>
    footer {
      background-color: black;
      color: white;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 2200px;
      height: 263px;
    }
    footer.container{
        justify-content: center;
        display: flex;
        flex-wrap: wrap
    }
    </style>
<body>
    <footer>
        <div class="container">
        <p>About</p>
        <p>Login</p>
        <p>Register</p>
      </footer>
    </div>
</body>
</html>