<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Navbar-->
{% include "navbar.html" %}
<div id="search">
  <form>
    <input type="text" placeholder="search products">
  </form>
<div id ="product">
  <img src="https://a.fsimg.co.nz/product/retail/fan/image/400x400/5003748.png"alt="product2">
  <h2>Green Peas</h2>
			<p>Pams</p>
			<p>$2.99 </p>
      <div class="product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9dpR-TiUrw0rzZRusW0wot7SXInT3VaferQ&s" alt="New World">
        <h2>New World</h2>
        <p>$1.99</p>
      </div>
      <div class="product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF6kwWWSGxFGo7u8Af1qMHRBSpjjmoeXR5HA&s" alt="New World">
        <h2>Pacl-nd-Save</h2>
        <p>$1.99</p>
      </div>
      <div class="add-product">
        <p>add another supermarket</p>
      </div>
    </div>
  

</div>

</div>

   
</body>

</html>